@charset "UTF-8";
@import	"settings";
@import	"foundation/variables";
@import	"foundation/components/global";

body.mceContentBody {
	@import	"foundation/components/type";
	@import	"foundation/components/buttons";
	@import	"foundation/components/tables";
	@import	"foundation/components/thumbs";
	@import	"silverstripe-typography";
	background-color: $body-bg;
	font-size: $base-font-size;
	min-height: 200px;
	margin:18px;
}